build/
*.log
*.pb
*.jou
simulation/xsim.dir/
temp/result_new.txt
temp/sim_compare.wdb
temp/tb_refacto_only.sv
temp/tb_reg_map_compare_new.sv
temp/tb_reg_map_compare_snap.wdb
temp/tb_reg_map_compare.sv
temp/tb_reg_map_compare.vcd
temp/tb_reg_map_compare.wdb
temp/tb_reg_map_original.sv
temp/tb_reg_map_refacto.sv
temp/xsim.dir_backup/sim_compare/Compile_Options.txt
temp/xsim.dir_backup/sim_compare/xsim_script.tcl
temp/xsim.dir_backup/sim_compare/xsim.dbg
temp/xsim.dir_backup/sim_compare/xsim.mem
temp/xsim.dir_backup/sim_compare/xsim.reloc
temp/xsim.dir_backup/sim_compare/xsim.rtti
temp/xsim.dir_backup/sim_compare/xsim.svtype
temp/xsim.dir_backup/sim_compare/xsim.type
temp/xsim.dir_backup/sim_compare/xsim.xdbg
temp/xsim.dir_backup/sim_compare/xsimk.exe
temp/xsim.dir_backup/sim_compare/xsimSettings.ini
temp/xsim.dir_backup/tb_reg_map_compare/Compile_Options.txt
temp/xsim.dir_backup/tb_reg_map_compare/xsim_script.tcl
temp/xsim.dir_backup/tb_reg_map_compare/xsim.dbg
temp/xsim.dir_backup/tb_reg_map_compare/xsim.mem
temp/xsim.dir_backup/tb_reg_map_compare/xsim.reloc
temp/xsim.dir_backup/tb_reg_map_compare/xsim.rtti
temp/xsim.dir_backup/tb_reg_map_compare/xsim.svtype
temp/xsim.dir_backup/tb_reg_map_compare/xsim.type
temp/xsim.dir_backup/tb_reg_map_compare/xsim.xdbg
temp/xsim.dir_backup/tb_reg_map_compare/xsimk.exe
temp/xsim.dir_backup/tb_reg_map_compare/xsimSettings.ini
temp/xsim.dir_backup/tb_reg_map_compare_snap/Compile_Options.txt
temp/xsim.dir_backup/tb_reg_map_compare_snap/xsim_script.tcl
temp/xsim.dir_backup/tb_reg_map_compare_snap/xsim.dbg
temp/xsim.dir_backup/tb_reg_map_compare_snap/xsim.mem
temp/xsim.dir_backup/tb_reg_map_compare_snap/xsim.reloc
temp/xsim.dir_backup/tb_reg_map_compare_snap/xsim.rtti
temp/xsim.dir_backup/tb_reg_map_compare_snap/xsim.svtype
temp/xsim.dir_backup/tb_reg_map_compare_snap/xsim.type
temp/xsim.dir_backup/tb_reg_map_compare_snap/xsim.xdbg
temp/xsim.dir_backup/tb_reg_map_compare_snap/xsimk.exe
temp/xsim.dir_backup/tb_reg_map_compare_snap/xsimSettings.ini
temp/xsim.dir_backup/work/reg_map_if.sdb
temp/xsim.dir_backup/work/reg_map_params_pkg.sdb
temp/xsim.dir_backup/work/reg_map_refacto.sdb
temp/xsim.dir_backup/work/reg_map.sdb
temp/xsim.dir_backup/work/spi_master.sdb
temp/xsim.dir_backup/work/spi_slave.sdb
temp/xsim.dir_backup/work/tb_reg_map_compare_new.sdb
temp/xsim.dir_backup/work/tb_reg_map_compare.sdb
temp/xsim.dir_backup/work/work.rlx
